.crd {
  width: 26rem;
}

.crd:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.crd-bdy {
  padding: 3rem 1rem !important;
  display: flex;
}

.crd-txt {
  text-align: justify;
  margin-right: 1rem;
}

.container-fluid .row {
  padding-top: 6rem;
}

