.delivery-details {
  width: 70%;
  margin-top: 90px;
}
.order-cart {
  width: 30%;
  margin-top: 90px;
}

.form-checkout {
  width: 100%;
  max-width: 500px;
  padding: 15px;
}

.hr-wd {
  max-width: 490px;
}

.ordered-item {
  /* background-color: lightgrey; */
  max-width: 80%;
  border-radius: 15px;
  background-color: lightgrey;
}
