.live-location {
  width: 60%;
}

.delivery-address {
  margin-left: 50px;
  height: 76vh;
  width: 330px;
  background-color: lightgray;
  margin-top: 90px;
  border-radius: 15px;
}

.location {
  height: 150px;
  width: 290px;
  margin-left: 19px;
  border-radius: 15px;
}

.raider {
  margin-left: 19px;
  height: 70px;
  width: 289px;
  border-radius: 15px;
}
